.cardGridContainer {
  width: 85%;
  /* margin-left: auto;
    margin-right: auto; */
  margin: 10rem auto;

  /* display: flex;
    justify-content: space-between; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;

  /* @media (max-width: 500px) {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  
    @media (max-width: 350px) {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    } */
}

@media (max-width: 500px) {
  .cardGridContainer {
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }
}

@media (max-width: 425px) {
  .cardGridContainer {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}

@media (max-width: 350px) {
  .cardGridContainer {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
}

.cardContainer {
  height: 37rem;
  max-width: 27rem;
  border-radius: 20px;
  background-image: linear-gradient(
    to right bottom,
    var(--color-blue-primary),
    var(--color-purple-primary),
    var(--color-green-primary)
  );
  box-shadow: 0 1.5rem 4rem rgba(var(--color-gray-900), 0.35);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;

  text-decoration: none;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

@media (max-width: 400px) {
  .cardContainer {
    margin-bottom: 3rem;
  }
}

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: var(--color-gray-700);

  animation: spin 2s infinite linear;

  background: linear-gradient(
        to right bottom,
        var(--color-blue-primary),
        var(--color-purple-primary),
        var(--color-green-primary) /* oklch(0% 0 0),
        oklch(0% 0 0) */
          /* oklch(35.56% 0.061 189.91),       
        oklch(56.45% 0.163 253.27) */
          /* oklch(0.1 0.2 240 / 0.95), */ /* oklch(0.1 0.2 240 / 0.95) */
      )
      padding-box,
    conic-gradient(
        from var(--bg-angle) in oklch longer hue,

        oklch(1 0.37 0) 0 0
      )
      border-box;

  border-bottom: 3px solid transparent;
}

.cardContainer:hover {
  transform: scale(1.1);
  transition: 0.2s;
  border: 3px solid transparent;
}

.cardImg {
  border-radius: 20px;
  padding: 0 0.5rem;
}

.projectCardTitle {
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

@media (max-width: 400px) {
  .projectCardTitle {
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
  }
}

.projectCardBriefDisc {
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

@media (max-width: 400px) {
  .projectCardBriefDisc {
    padding: 0 0.75rem;
    font-size: 0.8rem;
  }
}

.projectCardLinks {
  color: var(--color-gray-800);
  font-size: 1.25rem;
  padding: 0 1rem;
  text-decoration: none;
}
