.wholePageWrapper {
  background-color: var(--color-black);
  height: fit-content;
  /* font-family: 'Roboto'; */
  min-width: 100%;
}

.nameAndNav {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: sticky;
    top: 0; */
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  /* margin-bottom: -36rem; */
}

/* @media (max-width: 500px) {
  .nameAndNav {
    margin-bottom: -30rem;
  }
}

@media (max-width: 475px) {
  .nameAndNav {
    margin-bottom: -25rem;
  }
} */

.navName {
  background: linear-gradient(to right,
      var(--color-blue-primary),
      var(--color-purple-light),
      var(--color-green-primary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: var(--color-blue-light); */
  /* margin-right: auto;
    margin-left: auto; */
  margin-top: 2rem;
  margin-bottom: 2rem;

  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;

  height: fit-content;
  /* position: relative;
    top: 20px;
    left: 20px; */

  /* margin-top: 1rem; */
}

@media (max-width: 500px) {
  .navName {
    font-size: 2.5rem;
  }
}

/* @media (max-width: 450px) {
    .navName {
        font-size: 1.8rem;
        
    }
} */

/* @media (max-width: 390px) {
    .navName {
        font-size: 2rem;
        
    }
} */


.mainTitle {
  color: var(--color-text-primary);
  text-align: center;
  font-size: 3.75rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  margin-bottom: 4.5rem;
}

@media (max-width: 1150px) {
  .mainTitle {
    font-size: 3rem;
    letter-spacing: 0.4rem;
  }
}

@media (max-width: 600px) {
  .mainTitle {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  .mainTitle {
    font-size: 1.75rem;
  }
}

@media (max-width: 450px) {
  .mainTitle {
    font-size: 1.65rem;
  }
}

@media (max-width: 425px) {
  .mainTitle {
    font-size: 1.55rem;
  }
}

@media (max-width: 395px) {
  .mainTitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .mainTitle {
    font-size: 1.3rem;
  }
}

@media (max-width: 350px) {
  .mainTitle {
    font-size: 1rem;
  }
}

/* .sectionWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    padding: 0 2rem;
} */

/* @media (max-width: 1600px) { */
.sectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  padding: 0 2rem;
}

/* } */



.siteScreenshots {
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-lg);
}

@media (max-width: 1275px) {
  .siteScreenshots {
    width: 700px;
    height: 400px;
  }
}

@media (max-width: 900px) {
  .siteScreenshots {
    width: 600px;
    height: 300px;
  }
}

@media (max-width: 675px) {
  .siteScreenshots {
    width: 550px;
    height: 300px;
  }
}

@media (max-width: 625px) {
  .siteScreenshots {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 625px) {
  .siteScreenshots {
    width: 450px;
    height: 250px;
  }
}

@media (max-width: 525px) {
  .siteScreenshots {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 450px) {
  .siteScreenshots {
    width: 325px;
    height: 200px;
  }
}

@media (max-width: 400px) {
  .siteScreenshots {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 375px) {
  .siteScreenshots {
    width: 275px;
    height: 150px;
  }
}

@media (max-width: 340px) {
  .siteScreenshots {
    width: 250px;
    height: 150px;
  }
}

.sectionTitle {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 3rem;
  letter-spacing: 0.05em;
}

@media (max-width: 450px) {
  .sectionTitle {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .sectionTitle {
    font-size: 1.75rem;
  }
}

.infoParagraph {
  color: var(--color-text-secondary);
  text-align: center;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  width: 75%;
  line-height: 1.7;
}

@media (max-width: 1600px) {
  .infoParagraph {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1150px) {
  .infoParagraph {
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 500px) {
  .infoParagraph {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .infoParagraph {
    padding: 1rem 0.5rem;
  }
}

.siteLink {
  text-decoration: none;
  color: var(--color-purple-light);
  font-size: 2.5rem;
  margin-top: 2rem;
  font-weight: 700;
}

@media (max-width: 650px) {
  .siteLink {
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  .siteLink {
    font-size: 1.75rem;
  }
}

@media (max-width: 475px) {
  .siteLink {
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  .siteLink {
    font-size: 1.25rem;
  }
}

@media (max-width: 375px) {
  .siteLink {
    font-size: 1rem;
  }
}

.sectionDividerWrapper {
  background-color: var(--color-black);
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.sectionDivider {
  background: linear-gradient(to right,
      var(--color-blue-primary),
      var(--color-purple-light),
      var(--color-green-primary));
  height: 1rem;
  width: 100%;
  clip-path: polygon(50% 100%, 0 77%, 100% 78%);

  /* clip-path: polygon(50% 100%, 0 86%, 100% 86%); */
}