.wholeMainPageWrapper {
  background-color: var(--black);
  height: 200dvh;
}

.test1 {
  color: var(--color-green-light);
  font-size: 5rem;
  
  padding-top: 2rem;
  font-weight: 300;
}

.test2 {
  color: var(--color-green-primary);
  font-size: 5rem;
}

.test3 {
  color: var(--color-green-dark);
  font-size: 5rem;
}

.test4 {
  color: var(--color-blue-light);
  font-size: 5rem;
}

.test5 {
  color: var(--color-blue-primary);
  font-size: 5rem;
}

.test6 {
  color: var(--color-blue-dark);
  font-size: 5rem;
}

.test7 {
  color: var(--color-purple-light);
  font-size: 5rem;
}

.test8 {
  color: var(--color-purple-primary);
  font-size: 5rem;
}

.test9 {
  color: var(--color-purple-dark);
  font-size: 5rem;
}