
.wholeMainPageWrapper {
  background-color: var(--color-black);
  height: 400dvw;

}

.mainNav {
  position: sticky;
  right: 0;
  top: 30px;
  z-index: 1;
  font-size: 1.5rem;
  width: 30%;
  margin-left: auto;

  display: flex;
  justify-content: space-around;
}

.navLink {
  color: var(--color-white);
  letter-spacing: .1rem;
  text-decoration: none;
}

.navLink:hover {
  transform: scale(1.3) translateY(-5px);
  color: var(--color-blue-light);
}

.navLink:active {
  transform: scale(1.3) translateY(0);
  color: var(--color-purple-light);
}


.mainSectionWrapper {
  width: 100%;
  background-color: var(--color-black);
  height: 120dvh;
  display: flex;
}

.nameAndTitleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  padding-top: 3rem;
  border-bottom: 1px solid var(--color-blue-primary);
  height: 120dvh;
}

.name {
  color: var(--color-white);
  font-size: 3rem;
  letter-spacing: .3rem;
  text-decoration: underline var(--color-blue-primary);
  text-decoration-thickness: .25px;
  margin-bottom: -.75rem;
  padding-right: 50%;
  
}

.jobTitle {
  color: var(--color-blue-light);
  font-size: 1.5rem;
  letter-spacing: .1rem;
  padding-right: 50%;
}

.mainSectionIntro {
  color: var(--color-white);
  margin-top: 25%;
  margin-left: 50%;
  text-align: center;
  font-size: 1.5rem;
  overflow: visible;
}

.mainImageContainer {
 width: 60%;
 border-left: 1px solid var(--color-blue-primary);
 clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
 border-bottom: 1px solid var(--color-blue-primary);
  height: 120dvh;
}

.mainPageImage {
  animation: fadeInAnimation ease-in 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}
@keyframes fadeInAnimation {
  0% {
    clip-path: circle(2.4% at 75% 50%);
  }
  5% {
    clip-path: circle(3.5% at 75% 50%);
  }
  10% {
    clip-path: circle(4.8% at 75% 50%);
  }
  15% {
    clip-path: circle(6.4% at 75% 50%);
  }
  20% {
    clip-path: circle(8.2% at 75% 50%);
  }
  25% {
    clip-path: circle(9.5% at 75% 50%);
  }
  30% {
    clip-path: circle(11.8% at 75% 50%);
  }
  35% {
    clip-path: circle(13.8% at 75% 50%);
  }
  40% {
    clip-path: circle(16.9% at 75% 50%);
  }
  50% {
    clip-path: circle(2.0% at 75% 50%);
  }
 
  100% {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  }
}



.projectsSectionWrapper {
  width: 100%;
  
 
}

.projectsHeader {
  color: var(--color-blue-light);
  /* margin-top: 6rem; */
  text-align: center;
  font-size: 4rem;
  letter-spacing: .3rem;
  font-weight: 100;
  padding: .5rem 1.5rem;
}


 @property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}


@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}


.myWorkHeaderContainer {

  margin-top: 8rem;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  /* border-radius: 20px; */
  
  animation: spin 2s infinite linear ;
  

  background:
    
    linear-gradient(
        to bottom,

        
        oklch(0% 0 0),
        oklch(0% 0 0)

        /* oklch(35.56% 0.061 189.91),       
        oklch(56.45% 0.163 253.27) */

        /* oklch(0.1 0.2 240 / 0.95), */
        /* oklch(0.1 0.2 240 / 0.95) */
      )
      padding-box, 
    conic-gradient(
        from var(--bg-angle) in oklch longer hue,
        
        oklch(1 0.37 0) 0 0
      )
      border-box; 
  
  
  border-bottom: 2px solid transparent;

  
}

.myWorkHeaderContainer:hover {
  border: 2px solid transparent;
  border-radius: 20px;
  transition: .2s;
  animation: spin 1.5s infinite linear ;
}